*{
   background-color: rgb(252, 252, 252);
   margin: 0px;
   word-wrap: normal;
}

body{
    width: 100%;
}

header{
    width: 35%;
    height: 50px;
    background-color: rgb(13, 153, 153);
}

main{
    width: 100%;
    margin: 30px;
    display: flex;
    flex-direction: row;
}

.link-info{
    width: 30%;
}

.text-info{
    width: 60%;
}

h1 {
    font-size: 50px;
    color: rgb(60, 60, 112);
    margin-bottom: 100px;
}

h2 {
    width: 90%;
    font-size: 30px;
    color: rgb(60, 60, 112);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 5px;
}

div, a{
    margin-bottom: 10px;
}

ul {
    margin-bottom: 30px;
}
